.siteheader{
  background-color: #bc6c25;
}
.sitecolor{
  background-color:  #bc6c25;
  color: #fefae0;
}
.conatinerBackgrounds{
  background-color: #dda15e!important;
  color: #fefae0 !important;
}
.borderImage{
  border: 5px #540404 solid;
}
.maxpersonheight{
  height: auto;
}

@media (min-width: 701px){
  .maxpersonheight{
    height: 250px !important;
    width: 265px !important
  }
} 