.siteheader{
  background-color: #bc6c25;
}
.sitecolor{
  background-color:  #bc6c25;
  color: #fefae0;
}
.conatinerBackgrounds{
  background-color: #dda15e!important;
  color: #fefae0 !important;
}
.borderImage{
  border: 5px #540404 solid;
}

.maxpersonheight{
  height: auto;
}
.px-6{
  padding-right: auto;
  padding-left: auto;
}
.h-400{
height: 350px !important;
width: 100% !important;
}
.mx-0-rem{
  margin-right: -1rem !important;
  margin-left: -1rem !important;
}
.weblogo{
  display: none;
}
@media (min-width: 701px){
  .maxpersonheight{
    height: 325px !important;
    width: 100% ;
    margin: 0rem ;
  }
  .px-6{
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }
  .binoyWidth{
    object-fit: cover;
  }
  .weblogo{
    height: 135px;
    position: absolute;
    display: block;
  }
} 